<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Boards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Build.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Clean.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Distribute.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Document.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Fast.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Index.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Make.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Serial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Upload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>asgeco.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9053688616C6C1700050744E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9053688716C6C1700050744E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9053688816C6C1700050744E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9053688916C6C1700050744E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9053688A16C6C1700050744E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9053688B16C6C1700050744E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9053688C16C6C1700050744E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9053688D16C6C1700050744E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9053688E16C6C1700050744E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9053688F16C6C1700050744E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9053689116C6C1700050744E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90F36A8617FF889700C8E5F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
